.checkout-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.form input {
  border-radius: 8px;
  border: 1px solid #ddd;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.lgpd {
  display: flex;
  gap: 8px;
  font-size: 14px;
}

button {
  padding: 12px;
  background: #ff7a00;
  color: white;
  border: none;
  cursor: pointer;
}
