.menu-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.categories {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  margin: 20px 0;
}

.categories button {
  background: #eee;
  border-radius: 20px;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.categories .active {
  background: var(--primary);
  color: white;
}

/* GRID RESPONSIVO */
.product-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product-card {
  background: var(--card);
  border-radius: var(--radius);
  overflow: hidden;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.product-info {
  padding: 14px;
}

.product-info p {
  color: var(--primary);
  font-weight: bold;
}

.search {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
